* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    background-image: url("../Login2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    background-color: #F7F7F7;
    width: 95%;
    height: 94%;
    border-radius: 8px;
    overflow: hidden;
    display: flex;
    position: relative ;
    scrollbar-width: none;
}
.left {
    width: 17%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    position: fixed;
    border-radius:8px ;
}
.logo {
    padding: 20px;
}
.logo img {
    width: 165px;
}
.menu {
    padding-top: 10px;
}
ul {
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 21px;
}
li {
    list-style: none;
    font-size: 17px;
    /* color: #4D4D4D; */
    color:#767272;
    display: flex;
    align-items: center;
    gap: 12px;
    cursor: pointer;
    font-weight: 500;
}
.right {
    padding: 24px 40px 30px 20px;
    width: 83%;
    background-color: #F7F7F7;
    color: #4D4D4D;
    position: absolute;
    top: 0px;
    right: -16px;
    height: 100%;
}
.right {
    padding: 24px 40px 30px 20px;
    width: 83%;
    background-color: #F7F7F7;
    color: #4D4D4D;
    position: absolute;
    top: 0px;
    right: -16px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

form {
    background-color: white;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    width: 400px;
}

h2 {
    margin-bottom: 30px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    color: #4D4D4D;
}

.form-group {
    margin-bottom: 20px;
}

.form-group input,
.form-group select {
    width: calc(100% - 10px);
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
    outline: none;
    transition: border-color 0.3s ease;
}

.form-group input:focus,
.form-group select:focus {
    border-color: #4D4D4D;
}

.form-group select {
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: #fff;
    padding-right: 30px;
}

.btn {
    display: block;
    width: 100%;
    padding: 12px;
    background-color: #4D4DFF;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-align: center;
}

.btn:hover {
    background-color: #3737d2;
}
